# Data Preparation (Test)

Same as what we did in **0_data_preparation** we need to prepare the test data as Abstract base table

In [1]:
import pandas as pd
import numpy as np

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

### Load *.csv

In [2]:
df_test_demographics = pd.read_csv("../specs/Test Sample/TEST - Demographics.csv", encoding='latin-1', index_col=False)
df_test_previous_load_holdings = pd.read_csv("../specs/Test Sample/TEST- Previous Loan Holdings.csv", encoding='latin-1', index_col=False)
df_test_product_held_in_bank = pd.read_csv("../specs/Test Sample/TEST - Product Held in Bank.csv", encoding='latin-1', index_col=False)
df_test_avg_txn_amount = pd.read_csv("../specs/Test Sample/TEST - TXN Amount.csv", encoding='latin-1', index_col=False)
df_test_ca_txn = pd.read_csv("../specs/Test Sample/Model Build - Transactions out of Current Account.csv", encoding='latin-1', index_col=False)

### Investigate duplicate customers records, if any

In [3]:
def print_duplicate_status(df, df_name):
    s = df.ClientID.value_counts()
    dup_list = s[s > 1].index
    if len(dup_list) == 0:
        print(df_name + " does not contains duplicate records")
    else:
        print(df_name + " contains duplicate records")
        print(df.loc[df['ClientID'].isin(dup_list)])
        
    print("---------------------------------------------------------------------------------------")

print_duplicate_status(df_test_demographics, "TEST - Demographics.csv")
print_duplicate_status(df_test_previous_load_holdings, "TEST - Previous Loan Holdings.csv")
print_duplicate_status(df_test_product_held_in_bank, "TEST - Product Held in Bank.csv")
print_duplicate_status(df_test_avg_txn_amount, "TEST - TXN Amount.csv")
print_duplicate_status(df_test_ca_txn, "Model Build - Transactions out of Current Account.csv")

TEST - Demographics.csv does not contains duplicate records
---------------------------------------------------------------------------------------
TEST - Previous Loan Holdings.csv does not contains duplicate records
---------------------------------------------------------------------------------------
TEST - Product Held in Bank.csv does not contains duplicate records
---------------------------------------------------------------------------------------
TEST - TXN Amount.csv does not contains duplicate records
---------------------------------------------------------------------------------------
Model Build - Transactions out of Current Account.csv does not contains duplicate records
---------------------------------------------------------------------------------------

## Conclusion:
As we do not have any duplicate entries we continue on merging up all the dataframe in ABT

In [4]:
# features
df_test_abt = pd.merge(left=df_test_demographics, right=df_test_previous_load_holdings, how='left', left_on='ClientID', right_on='ClientID')
df_test_abt = pd.merge(left=df_test_abt, right=df_test_product_held_in_bank, how='left', left_on='ClientID', right_on='ClientID')
df_test_abt = pd.merge(left=df_test_abt, right=df_test_avg_txn_amount, how='left', left_on='ClientID', right_on='ClientID')
df_test_abt = pd.merge(left=df_test_abt, right=df_test_ca_txn, how='left', left_on='ClientID', right_on='ClientID')

df_test_abt.head(3)
df_test_abt.tail(3)

,ClientID,Age,Gender,County,IncomeGroup,HeldLoanPreviously,NumberOfProductsInbank,AverageTXNAmount,NumTransactions,LastTXNAmount,MerchantCode,LastTransactionNarrative
0,10001,59,1,Cork,10001 - 40000,0,4,22,2,12.59,7375,MYWHEELS IE DUBLIN 2
1,10002,27,1,Kerry,10001 - 40000,0,4,11,0,30.00,7531,MAXOL/MACE BRENNAN'S NEWBRIDGE
2,10003,58,0,Louth,10001 - 40000,0,2,9,28,1003.01,5533,Finglas Autoparts Limit Dublin

,ClientID,Age,Gender,County,IncomeGroup,HeldLoanPreviously,NumberOfProductsInbank,AverageTXNAmount,NumTransactions,LastTXNAmount,MerchantCode,LastTransactionNarrative
1997,11998,33,1,Cork,100000+,0,1,439,3,561.44,3069,SUNCTRYAIR 3378204673043SAINT PAUL MN
1998,11999,37,1,Dublin,60001 - 100000,0,2,855,1,1117.40,3049,TUNIS AIR 75PARIS 8 VPC
1999,12000,24,1,Dublin,10001 - 40000,0,4,1373,7,12.20,9402,AN POST-OFFICES DUBLIN

As we expected we have *2000* client test information

## Persist ABT for future analysis

In [5]:
pd.DataFrame.to_csv(df_test_abt, "../specs/clean/Test Sample/TEST - AbastractBaseTable.csv", encoding='utf-8', index=False)